<mat-card class="cdshooks-card">
  <mat-card-title>{{card.summary}}</mat-card-title>
  <mat-card-content *ngIf="card.detail != null" class="cdshooks-card-detail">
    <showdown [value]="card.detail"></showdown>
  </mat-card-content>
  <mat-card-actions *ngIf="card.links?.length > 0">
    <mat-card-subtitle>Suggested Links</mat-card-subtitle>
    <ng-container *ngFor="let link of card.links">
      <span class="cdshooks-card-link" [ngSwitch]="link.type?.toLowerCase()">
        <ng-container *ngSwitchCase="'absolute'">
          <a [href]="link.url" target="cdshooks-link">{{link.label}}</a>
        </ng-container>
        <ng-container *ngSwitchCase="'smart'">
          <a href (click)="smartLaunch(link);$event.preventDefault()">{{link.label}}</a>
        </ng-container>
      </span>
    </ng-container>
  </mat-card-actions>
  <mat-card-actions *ngIf="card.suggestions?.length > 0">
    <mat-card-subtitle>Suggested Actions</mat-card-subtitle>
    <ng-container *ngFor="let suggestion of card.suggestions">
      <span class="cdshooks-card-suggestion">
        <span [ngClass]="{'cdshooks-recommended': suggestion.isRecommended}">{{suggestion.label}}</span>
        <span>
          <button *ngFor="let action of suggestion.actions"
                  mat-button mat-flat-button
                  color="primary"
                  (click)="onActionClick(action)">
            {{action.description}}
          </button>
        </span>
      </span>
    </ng-container>
  </mat-card-actions>
  <mat-card-footer *ngIf="card.source != null" class="cdshooks-card-source">
    <span class="cdshooks-card-source">
      <span class="flex-fill"></span>
      <a href="{{card.source.url}}" target="_blank">{{card.source.label}}</a>
      <span class="flex-fill"></span>
      <img alt="" *ngIf="card.source.icon != null" src="{{card.source.icon}}">
      <span class="flex-fill"></span>
    </span>
  </mat-card-footer>
</mat-card>
