<mat-card class="cdshooks-card">
  <mat-card-title>{{card.summary}}</mat-card-title>
  <mat-card-content *ngIf="card.detail != null" class="cdshooks-card-detail">
    <showdown [value]="card.detail"></showdown>
  </mat-card-content>
  <mat-card-actions *ngIf="card.links?.length > 0">
    <ng-container *ngFor="let link of card.links">
      <ng-container [ngSwitch]="link.type">
        <ng-container *ngSwitchCase="'absolute'">
          <a [href]="link.url" target="cdshooks-link">{{link.label}}</a>
        </ng-container>
        <ng-container *ngSwitchCase="'smart'">
          <a (click)="smartLaunch(link)">{{link.label}}</a>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-card-actions>
  <mat-card-actions *ngIf="card.suggestions?.length > 0">
    <table class="table" mat-table [dataSource]="card.suggestions">
      <ng-container matColumnDef="recommended">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let suggestion"> {{suggestion.isRecommended ? "*" : ""}} </td>
      </ng-container>
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let suggestion"> {{suggestion.label}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let suggestion">
          <button *ngFor="let action of suggestion.actions" mat-button (click)="onActionClick(action)">
            {{action.description}}
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-actions>
  <mat-card-footer *ngIf="card.source != null" class="cdshooks-card-source">
    <span class="cdshooks-card-source">
      <span class="flex-fill"></span>
      <a href="{{card.source.url}}" target="_blank">{{card.source.label}}</a>
      <span class="flex-fill"></span>
      <img alt="" *ngIf="card.source.icon != null" src="{{card.source.icon}}">
      <span class="flex-fill"></span>
    </span>
  </mat-card-footer>
</mat-card>
